.content-z p{font-size: 15px; color:#cacbcb;}
.main {background-image: url(tp/bj.png);}
.main-inner{margin: 0 auto;width: 944px;}
.main-tp img{margin:0 auto;margin-left: 5px;padding-top: 40px;}
.content-z h1{font-size: 28px;color: white;margin-top: 54px;}
.aaa{margin-top: 21px; }
.ht p{padding-top:17px;}
.list {margin-left: 200px;margin-top: -130px; color:#7f7f7f}
.list1{margin-top: 30px; color:#7f7f7f }
.content p{color:#7f7f7f ;}
li{color: #7f7f7f}
.mo{padding-top: 28px;margin-bottom: 60px;}
.sidebar{width: 300px;float: right;margin-top: 54px;}
.ht{width: 300px;height: 48px;background-color: black;color: white;line-height:20px;}
.sidebar p{margin-top:-13px;margin-left: 20px;font-size: 14px;}
.sidebar img{margin-top: 15px;}
.content{width: 642px;}
.sz{margin-left: 20px;}

