.footer{height: 294px;background-image: url(tp/bq);background-color: black;}
.footer-bottom{color:#cacbcb;margin-left: 550px;padding-top: 34px;}
.footer-bottom1{color:#cacbcb;margin-left: 480px;margin-top: 10px;}
.footer-bottom2 img{margin-left: 1000px;margin-top: -25px;}